body { margin: 10px;}

h1,h2{

  font-style: oblique;
}

h1{
  font-size: 57px;
  border-bottom: 1px solid black;
  margin :0;
  padding: 20px;

  }
ol {font-size: 20px;
  font-family: monospace;
}
ol { color: blue;
 padding-right: 0px;
 border-right:3px solid gray;
 width:100px;
 margin:10px;
 padding:30px;
 padding-right: 60px;
  }
a { color: skyblue;}
#grid
{
display: grid;
grid-template-columns: 200px 1fr;


}
body { color : skyblue;}


#grid #article {padding-left: 20px;}

@media(max-width:800px){
  #grid{
    display: block;
  }
  ol{
    border-right:none;
  }
  h1 {
    border-bottom:none;
  }
}
